{% extends 'macroses/base.html' %}
{% block content %}


<style>
.col-12 {
  margin-bottom: 20px;
}
.col-md-6 {
  margin-bottom: 20px;
}
}
.col-6 {
  margin-bottom: 20px;
}
.col-2 {
  margin-bottom: 20px;
}
.col-md-2 {
  margin-bottom: 20px;
}
.radio-label {
    margin-right: 10px;
}

</style>


             <form action="" method="POST" target="_blank" class="row g-3">

                {% csrf_token %}

                <div class="col-md-6">
                    {{ form.user_name }}
                </div>

                <div class="col-md-6">
                    {{ form.user_email }}
                </div>

                <div class="col-md-6">
                    {{ form.product }}
                </div>

                <div class="col-md-6">
                    {{ form.product2 }}
                </div>

                <div class="col-md-6">
                    {{ form.refund_amount }}
                </div>

                <div class="col-md-6">
                    {{ form.final_date }}
                </div>

                <div class="col-md-6">
                    {{ form.clear }}
                </div>

                <div class="col-md-6">
                    {{ form.macro }}
                </div><br>

                {% for button in form.radio %}
                    <div class="col-md-1" style="margin-left: 20px; margin-right: 74px; margin-bottom: 25px;">
                        {{ button }}
                    </div>
                 {% endfor %}

                <div class="col-md-6">
                        <div class="form-check">
                            {{ form.android }}
                            <label class="form-check-label" for="{{ form.android.andr }}">Android</label>
                        </div>
                </div><br>

                <div class="col-md-6">
                        <div class="form-check">
                            {{ form.apple }}
                            <label class="form-check-label" for="{{ form.android.appl }}">Apple</label>
                        </div>
                </div><br>

                <div class="col-md-6">
                        <div class="form-check">
                            {{ form.descriptor }}
                            <label class="form-check-label" for="{{ form.android.descr }}">Descriptor Charges</label>
                        </div>
                </div><br>

                <div class="col-md-6">
                        <div class="form-check">
                            {{ form.no_time }}
                            <label class="form-check-label" for="{{ form.android.notime }}">No Time</label>
                        </div>
                </div><br>

                <div class="col-md-6">
                        <div class="form-check">
                            {{ form.afraid_did_not_receive }}
                            <label class="form-check-label" for="{{ form.android.notime }}">Afraid did not cancel before
                            </label>
                        </div>
                </div><br>


                <div class="col-md-6">
                        <div class="form-check">
                            {{ form.bad_workouts }}
                            <label class="form-check-label" for="{{ form.android.notime }}">Bad Workouts</label>
                        </div>
                </div><br>


                <div class="col-md-6">
                        <div class="form-check">
                            {{ form.free_trial }}
                            <label class="form-check-label" for="{{ form.android.notime }}">No Free Trial</label>
                        </div>
                </div><br>


                <div class="col-md-6">
                        <div class="form-check">
                            {{ form.bad_meals }}
                            <label class="form-check-label" for="{{ form.android.notime }}">Bad Meals</label>
                        </div>
                </div><br>

                <div class="col-md-6">
                        <div class="form-check">
                            {{ form.cancel }}
                            <label class="form-check-label" for="{{ form.android.notime }}">Sub Canceled</label>
                        </div>
                </div><br>


                <div class="col-md-6">
                        <div class="form-check">
                            {{ form.not_user_friendly }}
                            <label class="form-check-label">Not user-friendly/difficult to use</label>
                        </div>
                </div><br>


                <div class="col-md-6">
                        <div class="form-check">
                            {{ form.not_use }}
                            <label class="form-check-label">I do not use it</label>
                        </div>
                </div><br>


                <div class="col-md-6">
                        <div class="form-check">
                            {{ form.what_weight }}
                            <label class="form-check-label">How much weight should I use?</label>
                        </div>
                </div><br>






                <div class="col-md-6">
                    <br>
                    {{ form.submit }}
                </div>




    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field, errors in form.errors.items %}
                <strong>{{ field }}:</strong>
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

            </form>

<script>
function clearFields() {
    document.getElementById("id_user_name").value = "";
    document.getElementById("id_user_email").value = "";
    document.getElementById("id_product").value = "";
    document.getElementById("id_product2").value = "";
    document.getElementById("id_refund_amount").value = "";
    document.getElementById("id_final_date").value = "";
    document.getElementById("andr").checked = false;
    document.getElementById("appl").checked = false;
    document.getElementById("descr").checked = false;
    document.getElementById("notime").checked = false;
    document.getElementById("afraid").checked = false;
    document.getElementById("badworkout").checked = false;
    document.getElementById("free trial").checked = false;
    document.getElementById("bad meals").checked = false;
    document.getElementById("cancel").checked = false;
    document.getElementById("not_friendly").checked = false;
    document.getElementById("not_use").checked = false;
    document.getElementById("what_weight").checked = false;
    document.getElementById("id_macro").value = "RefWhy";
    document.querySelector('input[name="radio"][value="eng"]').checked = true;
};

function find_float(id_product) {
  const regex = /\d+\.\d+/g;
  const matches = id_product.match(regex);
  return parseFloat(matches[1]);
}

document.getElementById("id_product").addEventListener("change", function() {
  const regex = /\d+\.\d+/g;
  const matches = this.value.match(regex);
  if (matches && matches.length >= 2) {
    const refund_amount = find_float(this.value);
    if (!isNaN(refund_amount)) {
      document.getElementById("id_refund_amount").value = refund_amount.toFixed(2);
    }
  }
});
</script>

{% endblock %}